body {
	background-image: url("/SkillManagementSystem/image/backgroundSMS.jpg");
	background-repeat: no-repeat;
	background-position:center;
  	background-attachment: fixed;
}

#menuPrincipale {
	text-align:right;
  	width: 800px;
  	height: 240px;
  	position: absolute;
  	top: 60%;
  	left: 50%;
  	margin: -100px 0px 0px -250px;
}

img:hover {
	-webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -moz-transition-property: opacity;
    opacity: 0.3;
}